---
import Layout from "src/layouts/Layout.astro"
---

<Layout title="About | Gian Gonzaga" heading="About Me" emojiIcon="⁉️">

    <section>
      <img src="/profile.jpg" class="rounded-xl h-32" />

      <p class="mt-4">
        
      </p>
    </section>
</Layout>
