---
import Layout from "src/layouts/Layout.astro"
import Projects from "src/components/projects/Projects.vue"
---

<Layout title="Home | Gian Gonzaga" heading="Kamusta! I'm Gian" emojiIcon="👋">
	<div class="space-y-8">
		<section class="space-y-3">
			<p class="max-w-xl">
				I'm a Full-Stack Web Developer with <span class="font-bold">2 years experience</span>. I specialize in Javascript, Typescript, and React.
			</p>
			<p class="max-w-xl">
				Focusing on delivering clean and efficient code, and committed to creating the best user experience I can deliver!
			</p>
			<p class="max-w-xl">
				If you have a <span class="font-bold">project in mind</span> or would like to discuss potential opportunities, please feel free to reach out. I am always eager to connect with professionals and explore new possibilities.
			</p>
		</section>
		<Projects/>
	</div>
</Layout>
